.bookingcolor
{
    background-color: rgb(0, 59, 149);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.nav-logo
{
    width: 200px;
}
.form-control.custom-submit {
    background-color: rgb(0, 59, 149) !important;
    color: #fff !important; /* Color del texto */
    border-color: rgb(0, 59, 149) !important; /* Opcional: Color del borde */
}
