.bookingcolor
{
    background-color: rgb(0, 59, 149);
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
}
.nav-logo
{
    width: 200px;
}
.btn-custom {
    background-color: #007bff !important;
    color: white !important;
}
.extColor {
    background-color: rgb(0, 59, 149);
    color: #fff;
}
.busquedaAlojamiento {
    position: relative;
    top: -1em;
}
.float-right {
    float: right;
}
.bold
{
    font-weight: bold;
}
.imagenResultados
{
    width: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 13% ;
}
.linkResultado
{
    color:rgb(0, 108, 228);
    text-decoration: none;
}
.ecofriendly
{
    color: rgb(0, 130, 52);
}