<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>LoginServlet.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPropertiesServlet</display-name>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <url-pattern>/ListPropertiesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListResultsServlet</display-name>
    <servlet-name>ListResultsServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListResultsServlet</servlet-name>
    <url-pattern>/ListResultsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPropertyServlet</display-name>
    <servlet-name>NewPropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPropertyServlet</servlet-name>
    <url-pattern>/NewPropertyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCategoriesServlet</display-name>
    <servlet-name>ListCategoriesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCategoriesServlet</servlet-name>
    <url-pattern>/ListCategoriesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPropertyData</display-name>
    <servlet-name>ListPropertyData</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertyData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPropertyData</servlet-name>
    <url-pattern>/ListPropertyData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPropertyServlet</display-name>
    <servlet-name>EditPropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPropertyServlet</servlet-name>
    <url-pattern>/EditPropertyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePropertyServlet</display-name>
    <servlet-name>DeletePropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeletePropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePropertyServlet</servlet-name>
    <url-pattern>/DeletePropertyServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>es.unex.pi.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>NewPropertyServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>EditPropertyServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>EditUserServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>DeletePropertyServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>ListPropertiesServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>NewAccommodationServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>DeleteAccommodationServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>EditAccommodationServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>NewReviewServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccommodationServlet</display-name>
    <servlet-name>NewAccommodationServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewAccommodationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccommodationServlet</servlet-name>
    <url-pattern>/NewAccommodationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccommodationServlet</display-name>
    <servlet-name>EditAccommodationServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditAccommodationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccommodationServlet</servlet-name>
    <url-pattern>/EditAccommodationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccommodationServlet</display-name>
    <servlet-name>DeleteAccommodationServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteAccommodationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccommodationServlet</servlet-name>
    <url-pattern>/DeleteAccommodationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookingsRecordServlet</display-name>
    <servlet-name>ListBookingsRecordServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListBookingsRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookingsRecordServlet</servlet-name>
    <url-pattern>/ListBookingsRecordServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFavouriteServlet</display-name>
    <servlet-name>NewFavouriteServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewFavouriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFavouriteServlet</servlet-name>
    <url-pattern>/NewFavouriteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFavouritesServlet</display-name>
    <servlet-name>ListFavouritesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListFavouritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFavouritesServlet</servlet-name>
    <url-pattern>/ListFavouritesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFavouriteServlet</display-name>
    <servlet-name>DeleteFavouriteServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteFavouriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFavouriteServlet</servlet-name>
    <url-pattern>/DeleteFavouriteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReviewServlet</display-name>
    <servlet-name>NewReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReviewServlet</servlet-name>
    <url-pattern>/NewReviewServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMessageServlet</display-name>
    <servlet-name>NewMessageServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMessageServlet</servlet-name>
    <url-pattern>/NewMessageServlet.do</url-pattern>
  </servlet-mapping>
</web-app>