<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>LoginServlet.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPropertiesServlet</display-name>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <url-pattern>/ListPropertiesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListResultsServlet</display-name>
    <servlet-name>ListResultsServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListResultsServlet</servlet-name>
    <url-pattern>/ListResultsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPropertyServlet</display-name>
    <servlet-name>NewPropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPropertyServlet</servlet-name>
    <url-pattern>/NewPropertyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCategoriesServlet</display-name>
    <servlet-name>ListCategoriesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCategoriesServlet</servlet-name>
    <url-pattern>/ListCategoriesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPropertyData</display-name>
    <servlet-name>ListPropertyData</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertyData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPropertyData</servlet-name>
    <url-pattern>/ListPropertyData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPropertyServlet</display-name>
    <servlet-name>EditPropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPropertyServlet</servlet-name>
    <url-pattern>/EditPropertyServlet.do</url-pattern>
  </servlet-mapping>
</web-app>