<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPropertiesServlet</display-name>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <url-pattern>/ListPropertiesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserDataServlet</display-name>
    <servlet-name>ListUserDataServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserDataServlet</servlet-name>
    <url-pattern>/ListUserDataServlet.do</url-pattern>
  </servlet-mapping>
</web-app>