
<body>
	<!-- Container con toda la información -->
	<div class="container">
	    <h1 class="text-center mb-4">Mis alojamientos</h1>
	
	    <a href="#!/insertProperty" class="btn btn-custom mb-4">Añadir alojamiento</a>
	
	   <div data-ng-repeat="property in searchVM.properties">
	        <div class="row mt-4">
	            <div class="col-md-8 offset-md-2">
	                <div class="card shadow">
	                    <div class="card-body">
	                        <h5>{{property.name}}</h5>
	                        <p>Dirección: {{property.address}}</p>
	                        <p>Teléfono: {{property.telephone}}</p>
	                        <p>Reseñas: {{property.gradesAverage}}</p>
	                        <p>Ciudad: {{property.city}}</p>
	                        <p>Distancia al centro: {{property.ceterDistance}}</p>
	
	                        <div class="mt-3 d-flex justify-content-between align-items-center">
	                            <div>
	                                <a href="#!/editProperty/{{property.id}}" class="btn btn-outline-primary me-2">
	                                    Editar Propiedad
	                                </a>
	                                <a href="#!/deleteProperty/{{property.id}}" class="btn btn-outline-danger me-2">
	                                    Eliminar Propiedad
	                                </a>
	                                <a href="<c:url value='NewAccommodationServlet.do?id=${entry.key.id}'/>" class="btn btn-outline-secondary">
	                                    Añadir Habitación
	                                </a>
	                            </div>
								<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{property.id}}" aria-expanded="false" aria-controls="collapseExample{{property.id}}">
								    Habitaciones
								</button>
				             </div>

	
	                        <div class="collapse mt-3" id="collapseExample{{property.id}}">
	                            <div class="card mb-3">
	                                <div class="card-body" data-ng-repeat="a in property.accommodations">
	                                    
	                                        <p>Nombre: {{a.name}}</p>
	                                        <p>Descripción: {{a.description}}</p>
	                                        <p>Precio por noche: {{a.price}} €</p>
	                                        <p>Habitaciones disponibles: {{a.numAccommodations}}</p>
	                                        <div class="d-flex justify-content-end">
	                                            <a href="#!/editAccommodation/{{a.id}}" class="btn btn-outline-primary me-2">
	                                                Editar
	                                            </a>
	                                            <a href="#!/deleteAccommodation/{{a.id}}" class="btn btn-outline-danger">
	                                                Eliminar
	                                            </a>
	                                        </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>