<body>
	<!-- Barra de búsqueda -->
	<div class="container mt-4">
		<div class="row">
			<!-- Información del hotel y fotos -->
			<div class="col">
				<div class="row mb-4">
					<div class="col-10">
						<h2 class="fw-bold">{{resultVM.property.name}}</h2>
						<h3 class="mb-0">{{resultVM.property.address}}</h3>
						<h3 class="mb-0">
							Teléfono para reservas: <span class="fw-bold">{{resultVM.property.telephone}}</span>
						</h3>
					</div>
					<div class="col text-end">
						<h6 class="card-subtitle mb-2 text-muted">{{resultVM.property.gradesAverage}}</h6>
						<p class="card-text">{{resultVM.reviews.length}} valoraciones</p>
					</div>
				</div>
				<!-- Grid de fotos -->
				<div class="row mb-4">
					<div class="col">
						<div class="wrapper">
							<div class="one">
								<img src="../img/NH_1.jpg" alt="Imagen del hotel NH">
							</div>
							<div class="two">
								<img src="../img/NH_2.jpg" alt="Imagen del hotel NH">
							</div>
							<div class="three">
								<img src="../img/NH_3.jpg" alt="Imagen del hotel NH">
							</div>
							<div class="four">
								<img src="../img/NH_4.jpg" alt="Imagen del hotel NH">
							</div>
							<div class="five">
								<img src="../img/NH_5.jpg" alt="Imagen del hotel NH">
							</div>
							<div class="six">
								<img src="../img/NH_6.jpg" alt="Imagen del hotel NH">
							</div>
						</div>
					</div>
				</div>


				<!-- Descripción del hotel -->
				<div class="row mb-4">
					<div class="col">
						<h3 class="fw-bold">Descripción</h3>
						<p>{{resultVM.property.description}}</p>
					</div>
				</div>


				<!-- Servicios del hotel -->
				<div class="row mb-4" data-ng-if="resultVM.services.length > 0">
					<div class="col">
						<h3 class="fw-bold">Servicios</h3>
						<div class="row">
							<div class="col-md-3" data-ng-repeat="service in resultVM.services">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{service.name}}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




				<!-- Habitaciones Disponibles -->
				<div class="row mb-4" data-ng-if="resultVM.accommodations.length === 0">
					<div class="col">
						<h3 class="fw-bold">Habitaciones Disponibles</h3>
						<p class="text-danger">El hotel no dispone de habitaciones disponibles actualmente.</p>
					</div>
				</div>

				<div class="row mb-4" data-ng-if="resultVM.accommodations.length > 0">
				    <div class="col">
				        <h3 class="fw-bold">Habitaciones Disponibles</h3>
				        <form data-ng-submit="resultVM.functions.bookingHandler()">
				            <div class="row pt-4">
				                <table class="table">
				                    <thead>
				                        <tr>
				                            <th>Tipo de habitación</th>
				                            <th>Descripción</th>
				                            <th>Precio</th>
				                            <th>Número de habitaciones disponibles</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr data-ng-repeat="room in resultVM.accommodations">
				                            <td>
				                                <p>
				                                    {{room.name}}<br> <span class="ecofriendly">Hay
				                                        {{room.numAccommodations}} habitaciones disponibles.</span>
				                                </p>
				                            </td>
				                            <td>{{room.description}}</td>
				                            <td>{{room.price}}€</td>
				                            <td>
				                                <input type="number" min="1" max="{{room.numAccommodations}}"
				                                    name="nHabitaciones{{room.id}}" class="form-control"
				                                    data-ng-disabled="room.numAccommodations == 0"
				                                    data-ng-model="resultVM.selectedRooms[room.id]">
				                            </td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="text-center">
				                <input type="submit" class="btn btn-reserva" value="Reservar">
				            </div>
				        </form>
				    </div>
				</div>

			</div>
		</div>
	</div>

	<!-- Sección de valoraciones -->
	<div class="container">
		<div class="row mb-4" data-ng-if="resultVM.reviewDone===false">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Valoraciones</h3>
						<form data-ng-submit="resultVM.functions.addReview()">
							<div class="mb-3">
								<textarea class="form-control" name="valoracion" rows="5"
									placeholder="Escribe aquí tu valoración..." data-ng-model="resultVM.review.comment"></textarea>
								<input type="number" name="puntuacion" min="0" max="5" data-ng-model="resultVM.review.grade"class="form-control mt-3"
									placeholder="Puntuación (0-5)">
							</div>
							<button type="submit" class="btn btn-primary">Dejar valoración</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		    <div class="col">
		        <div class="card">
		            <div class="card-body">
		                <h3 class="fw-bold">Valoraciones de otros usuarios</h3>
		                <div data-ng-repeat="review in resultVM.reviews">
		                    <div class="card mt-3">
		                        <div class="card-body">
		                            <h5 class="card-title">{{review.user.name}}: {{review.grade}}/5</h5>
		                            <p class="card-text">{{review.review}}</p>
		                            <button class="btn btn-outline-danger me-2" id="eliminarReviewBtn" data-ng-if="review.idu === resultVM.user.id" data-ng-click="resultVM.functions.deleteReview()">Eliminar Review</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

	</div>

	<!-- Footer -->
	<footer class="text-center text-white mt-5" style="background-color: #f1f1f1;">
		<div class="container pt-4">
			<section class="mb-4">
				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/Null-Cat0"
					role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-github"></i></a>
			</section>
		</div>
		<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2024 Asier Serrano Martín
			- Programación en Internet - Universidad de Extremadura</div>
	</footer>
	<link rel="stylesheet" href="../css/accomodation_details.css">
</body>